body {
	background: url('../img/background.png');
}

.toplayer {
	background-image: url('../img/header_back.png');
	background-repeat: no-repeat;
}

.text_top {
	font-family: "OpenSansSemiBold";
	color: white;
	font-size: 13px;
	font-weight: bold;
}

.city {
	font-size: 12px;
	font-family: "OpenSans";
	color: rgb(238, 238, 238);
}

.img_phone {
	position: absolute;
	top: 10px;
	left: -5px;
}

A.city {
	text-decoration: none;
	border-bottom: 1px dashed white;
}

A.city:hover {
	color: white;
}

.phone {
	font-family: "OpenSans";
	font-size: 22px;
	color: white;
}

.lk {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(238, 238, 238);
}

a.lk {
	font-size: 14px;
	font-family: "OpenSans";
	color: rgb(238, 238, 238);
	text-decoration: none;
}

a.lk:hover {
	color: rgb(202, 152, 51);
}

.lk_pic {
	position: absolute;
	top: 24px;
	left: -5px;
}

.dl_pic {
	position: absolute;
	top: 5px;
	left: -10px;
}

.lk_text {
	position: absolute;
}


.navbar.navbar-custom {
  font-size: 22px;
  font-family: "Oranienbaum";
  color: white;
  text-transform: uppercase;
  line-height: 1;
}

.navbar-nav {
	display: table;
	width: 100%
}

.navbar-nav > li {
	float: none!important;
	display: table-cell;
}

.navbar.navbar-custom .navbar-nav > li > a {
	color: white;
	text-align: center;

}

.navbar.navbar-custom .navbar-nav > li > a:hover {
	color: rgb(202, 152, 51);
	background: none;
}

.navbar.navbar-custom .navbar-nav > .active,
.navbar.navbar-custom .navbar-nav > .active > a,
.navbar.navbar-custom .navbar-nav > .active > a:hover,
.navbar.navbar-custom .navbar-nav > .active > a:focus {
	color: rgb(202, 152, 51);
	background: none;
}

.cart {
	position: relative;
}

.quantity {
  font-size: 10px;
  font-family: "Open Sans";
  color: rgb(238, 238, 238);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.2;
  position: absolute;
  top: 80px;
  left: 113px;
}

.quantity_pic {
  position: absolute;
  top: 84px;
  left: 109px;
}
.cart_ins {
	position: absolute;
	top: 83px;
	left: 38px;
	width: 100%;
	font-size: 18px;
	font-family: "Oranienbaum";
	color: white;
	text-transform: uppercase;
	line-height: 1;
}

A.cart_ins {
	color: white;
}

A.cart_ins:hover,
A.cart_ins:focus {
	color: rgb(202, 152, 51);
}

.head_text {
  font-size: 48px;
  font-family: "Oranienbaum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;
}

.head_items {
  font-size: 36px;
  font-family: "Oranienbaum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
}

.main_text {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: left;
}

.main_items {
	width: 100%
}


.main:hover {
	color: black;
	background: white;
}

.centerlayer {
	background-image: url('../img/center_back.png');
	background-repeat: no-repeat;
}

.reasons {
  font-size: 48px;
  font-family: "Oranienbaum";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;
 }

.reason {
  font-size: 24px;
  font-family: "Oranienbaum";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.5;
  text-align: center;
}

.reason_small {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}

.reason_bottom {
  font-size: 36px;
  font-family: "Oranienbaum";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.667;
  text-align: center;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.review {
	background: white;
}

.anchor {
	position: relative;
}

.social_icon {
	position: absolute;
	top: 45px;
	left: 65px;
}

.review_username {
  font-size: 16px;
  font-family: "OpenSansSemiBold";
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.review_date {
	font-size: 12px;
	font-family: "OpenSansSemiBold"
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.review_text {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(0, 0, 0);
  font-style: italic;
  line-height: 1.5;
  text-align: justifyLeft;
}

.carousel-indicators {
	position: absolute;
	top: 105%;
}

.carousel-indicators li {
	display: inline-block;
	background-color: #009999;
}

.carousel-indicators .active {
	cursor: pointer;
	border: 1px #009999;
	background-color: #009999;
}

.bottomlayer {
	background-image: url("../img/bottom_back.png");
}

.form_rounded {
	position: absolute;
	top: 40px;
	left: 100px;
	border-radius: 25px;
	width: 300px !important;
}

.btn-subscribe {
	position: absolute;
	top: 40px;
	left: 430px;
	background-color: #006666;
	color: #006666;
	border-radius: 25px;
	width: 100px !important;
}

.notice_subscribe {
  position: absolute;
  left: 42px;
  top: 15px;
}

.map {
	background-image: url(../img/map_back.png);
}

.footerlayer {
	background-image: url(../img/footer_back.png);
}

.btn-footer {
	background: none;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 25px;
}

.sent_footer {
  font-size: 12px;
  font-family: "OpenSans";
  color: rgb(238, 238, 238);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: center;
 
}

.img-responsive {
	margin: 0 auto;
}

.time_text {
	position: absolute;
	top: 3px;
	left: 40px;
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(238, 238, 238);
}

.time_pic {
	position: absolute;
	top: 8px;
	left: 15px;
}


.footer_text {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(238, 238, 238);
}

a.fl {
	text-decoration: none;
	color: rgb(238, 238, 238);
}

a.fl:hover {
	color: rgb(202, 152, 51);
}


.cred {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(238, 238, 238);
  line-height: 4.286;
  text-align: center;
}
