body {
	background: url('../img/background.png');
}

.toplayer {
	background-image: url('../img/header_back.png');
	background-repeat: no-repeat;
}

.text_top {
	font-family: OpenSansSemiBold;
	color: white;
	font-size: 13px;
	font-weight: bold;
}

.city {
	text-align: right;
	float: right;
}

.phone {
	font-family: "OpenSans";
	font-size: 22px;
	color: white;
}

.helper_phone {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.img_phone {
	vertical-align: middle;
}